.container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.headfor {
  margin-bottom: 500px;
}

.data-add {
  padding: auto;
  margin-right: 100px;
  padding-top: 10px;
}
.input {
  padding: 10px;
  display: inline;
}
/* label {
  display: inline;
} */

